.hero {
  width: 100%;
  max-width: var(--maxwidth-1);
  margin: 3rem auto;
  padding-inline: 1rem;
}

.image {
  border-radius: var(--border-radius-1);
  overflow: hidden;
  display: flex;
}

.title {
  font-size: 1.5rem;
}

.nickname {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  margin-top: 0.5rem;
  font-weight: 500;
}

/* @media only screen and (min-width: 1050px) {
  .image {
    height: 500px;
  }
} */
