.image {
  border-radius: var(--border-radius-1);
  overflow: hidden;
  display: flex;
  height: 10rem;
  background-color: var(--clr-background-2);
}

.container {
  margin-block: 4rem;
}

@media only screen and (min-width: 800px) {
  .image {
    height: 14rem;
  }
}

@media only screen and (min-width: 1700px) {
  .image {
    height: 24rem;
  }
}
