@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --clr-background-1: #f5f5ff;
  --clr-background-2: ;
  --clr-primary-1: ;
  --clr-primary-2: ;
  --boxshadow-1: #e0e4f0 0px 0px 0px 1px;
  --maxwidth-1: 70rem;
  --border-radius-1: 0.5rem;
}

[data-theme='dark'] {
  --clr-background-1: #0d1117;
  --clr-background-2: ;
  --clr-primary-1: ;
  --clr-primary-2: ;
  --boxshadow-1: #424146 0px 0px 0px 1px;
  --bs-1: ;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--clr-background-1);
}

a {
  all: unset;
  cursor: pointer;
}

button,
textarea,
input {
  font: inherit;
  background: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img,
picture {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* focus visible */
a:focus-visible,
button:focus-visible {
  box-shadow: var(--clr-primary-1) 0px 0px 0px 2px;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
